<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="CONN_STRING" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=GreenMonkeyBank;Integrated Security=True" />
    <add name="CONN_STRING_PRODUCTION" connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_a83b4f_avegaa;User Id=db_a83b4f_avegaa_admin;Password=Xag93298@" />
  </connectionStrings>
  <appSettings>
    <add key="TWILIO_PHONE_NUMBER" value="+15402992669"/>
    <add key="TWILIO_ACCOUNT_SID" value="ACf01d579cfb2428dd04e5e6962b97ab7c"/>
    <add key="TWILIO_TOKEN" value="092a341683abe9326d9866e622d907e8"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>